<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<!-- Latest compiled and minified CSS & JS -->
	<link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/admin.css">
</head>
<body>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="well">
					<form action="/mt_admin/users/login" method="POST" role="form">
						<legend class="text-center lead">Login to admin system</legend>
						<%- messages() %>
						<div class="form-group">
							<label for="">Username:</label>
							<input type="text" class="form-control" name="username" id="" required="" autofocus="">
						</div>
						<div class="form-group">
							<label for="">Password:</label>
							<input type="password" class="form-control" name="password" id="" required="">
						</div>
					
						<div class="row">
							<div class="col-sm-4 col-sm-offset-4">
								<button type="submit" class="btn btn-primary btn-block">Login</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
	<script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>