<% include partials/menu.ejs %>

<div id="about">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="well">
					<p>Thuong Tin, Ha Noi, Viet Nam</p>
				</div>
				<div class="well">
					<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7456.026132343738!2d105.85819597537943!3d20.871523594335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135b22e073435a7%3A0xeed8af7828b2da7a!2zdHQuIFRoxrDhu51uZyBUw61uLCBUaMaw4budbmcgVMOtbiwgSGFub2ksIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1478013591761" width="710" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
				</div>
			</div>
			<div class="col-sm-4">
				<div id="nameAuthor">
					<h3 class="lead">TuNguyen</h3 class="lead">
					<p>Back-end Developer</p>
					<br><br>
				</div>
				<img src="/uploads/icon.png" alt="" class="img-responsive img-circle">
				<div id="aboutAuthor">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. A iste assumenda minima aut, atque blanditiis, nulla accusantium velit dolore facere voluptate excepturi totam labore hic beatae voluptates sit consequatur quos.
				</div>
			</div>
		</div>
	</div>
</div>

<% include partials/footer.ejs %>