<% include partials/menu.ejs %>

<div id="contact">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<%- messages() %>
				<h1 style="margin-top: 0px;">Do you want to get in touch with me?</h1>
				<br>
				<h4>Let fill out this form below to send a message and i will try to get back to you within 24 hours!</h4>
				<br>
				<form action="/contact/send" method="POST" role="form">
					<div class="form-group">
						<label for="">Name:</label>
						<input type="text" class="form-control" name="name" id="" placeholder="Your name...">
					</div>
					<div class="form-group">
						<label for="">Email:</label>
						<input type="email" class="form-control" name="email" id="" placeholder="Your email...">
					</div>
					<div class="form-group">
						<label for="">Message:</label>
						<textarea name="message" rows="5" class="form-control" placeholder="Your message..."></textarea>
					</div>
					<br>
					<div class="row">
						<div class="col-sm-6">
							<button type="submit" class="btn btn-primary btn-block">Send</button>
						</div>
						<div class="col-sm-6">
							<button type="reset" class="btn btn-primary btn-block">Reset Form</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-sm-4">
				<div id="nameAuthor">
					<h3 class="lead">TuNguyen</h3 class="lead">
					<p>Back-end Developer</p>
					<br><br>
				</div>
				<img src="/uploads/web.jpg" alt="" class="img-responsive img-circle">
				<div id="aboutAuthor">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. A iste assumenda minima aut, atque blanditiis, nulla accusantium velit dolore facere voluptate excepturi totam labore hic beatae voluptates sit consequatur quos.
				</div>
			</div>
		</div>
	</div>
</div>


<% include partials/footer.ejs %>