	<div class="container">
		<div class="row">
			<hr>
		</div>
	</div>
	<footer>
		<div id="footer" class="text-center">
			<p>
				<a href="" class="btn btn-social-icon btn-facebook btn-lg"><i class="fa fa-facebook"></i></a>&nbsp;
				<a href="" class="btn btn-social-icon btn-twitter btn-lg"><i class="fa fa-twitter"></i></a>&nbsp;
				<a href="" class="btn btn-social-icon btn-github btn-lg"><i class="fa fa-github"></i></a>&nbsp;
				<a href="" class="btn btn-social-icon btn-reddit btn-lg"><i class="fa fa-reddit"></i></a>&nbsp;
				<a href="" class="btn btn-social-icon btn-google btn-lg"><i class="fa fa-google"></i></a>&nbsp;
				<a href="" class="btn btn-social-icon btn-yahoo btn-lg"><i class="fa fa-yahoo"></i></a>
			</p>
			<br>
			<p>Designed by [TuNguyen]. Copyright &copy; 2016 <a href="" id="footerlink">NodeBlog</a>, All rights reserved</p>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="/javascripts/main.js"></script>
</body>
</html>