<footer>
		<p class="text-center">Copyright &copy; 2016 , All Rights Reserved</p>
	</footer>

</body>
<script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="/javascripts/admin.js"></script>
</body>
</html>