body{margin: 0px;padding: 0px;background-color: #e1e1e1}
nav.navbar-default{margin-bottom: 40px;}
a{color: #000;}
a:hover{text-decoration: none;}
#main img{width: 100%;height: 300px;}
#footer{width: 100%;height: 300px;padding: 100px 20px 20px 20px;margin-top: 50px;background-color: #4f5054;color: #fff;}
#footer a#footerlink{color: yellow;}
h3.lead{margin-bottom: 5px;font-weight: bold;margin-top: 0px;}

#about{position: relative;border-radius: 5px;}
#about img{width: 110px;height: 90px;border: 3px solid #fff;position: absolute;left: 50%;top: 80px;margin-left: -50px}
#nameAuthor{background-color: #0057e5;padding: 10px 10px 10px 20px;margin-bottom: 0px;color: #fff;}
#aboutAuthor{background-color: #fff;padding: 55px 20px 20px 20px;margin-top: 0px;text-indent: 20px;}
#contact{position: relative;border-radius: 5px;}
#contact img{width: 110px;height: 90px;border: 3px solid #fff;position: absolute;left: 50%;top: 80px;margin-left: -50px}

.item-relate{margin-bottom: 7px;border-bottom: 1px solid #e1e1e1;}

ul.success, ul.danger{padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;padding-left: 27px;}
ul.success{color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
ul.danger{color: #a94442;background-color: #f2dede;border-color: #ebccd1;}